:root {
  --bg-color: #fff;
  --text-color: #333;
}

:root.dark {
  --bg-color: #333;
  --text-color: #fff;
}

#root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: all 0.3s linear;
}

::view-transition-new(root),
::view-transition-old(root) {
  animation: none;
}

.dark::view-transition-old(root) {
  z-index: 999;
}
